/* Background lazy */
.lazy-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.bg-loaded {
    opacity: 1;
  }
}

/* Lazy image */
.lazy-img,
.swiper-slide img {
  opacity: 0;
  transition: opacity 0.5s ease;

  &.lazy-loaded,
  &.swiper-lazy-loaded {
    opacity: 1;
  }
}

/* 中間白線 */
.line {
    flex-grow: 1;          /* 撐滿中間空間 */
    height: 1px;           /* 線的高度 */
    background-color: #fff; /* 白色 */
    margin: 0 10px;        /* 線左右間距，可調整 */
}
