/* Background lazy */
.lazy-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.bg-loaded {
    opacity: 1;
  }
}

/* Lazy image */

.lazy-img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}


.lazy-img.lazy-loaded {
    opacity: 1;
    transform: translateY(0);
}


.line {
    flex-grow: 1;         
    height: 1px;           
    background-color: #fff; 
    margin: 0 10px;        
    opacity: 0.6;
}
