/* Background lazy */
.lazy-bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.5s ease;

  &.bg-loaded {
    opacity: 1;
  }
}

/* Lazy image */
/* 統一所有 lazy-img 的基礎動畫：淡入 + 下往上滑 */
.lazy-img {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

/* 圖片真正載完後才跑進場動畫 */
.lazy-img.lazy-loaded {
    opacity: 1;
    transform: translateY(0);
}

/* 中間白線 */
.line {
    flex-grow: 1;          /* 撐滿中間空間 */
    height: 1px;           /* 線的高度 */
    background-color: #fff; /* 白色 */
    margin: 0 10px;        /* 線左右間距，可調整 */
}
