.section13-overlay {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: #ffffff;
    padding: 86px 0px;

    @media (min-width: 768px) {
        padding: 146px 0px;
    }

    @media (min-width: 992px) {
        padding: 171px 0px;
    }
}

.section13-overlay2 {   
    padding: 0px 42px;

    @media (min-width: 768px) {
        padding: 0px 70px;
    }

    @media (min-width: 992px) {
        padding: 0px 90px;
    }
}

/* 背景圖片的區塊（會佔空間，不會壓住上面文字） */
.bg-container {
    width: 100%;
    height: 600px; /* 區塊高度你可自訂 */
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity .6s ease;
}

/* lazy loaded */
.bg-container.bg-loaded {
    opacity: 1;
}

// /* 背景圖上的文字 */
// .overlay-text {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     z-index: 2;
//     text-align: center;
// }