.section13-overlay {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    background-color: #ffffff;
    padding: 86px 0px;

    @media (min-width: 768px) {
        padding: 146px 0px;
    }

    @media (min-width: 992px) {
        padding: 171px 0px;
    }
}

.section13-overlay2 {   
    padding: 0px 42px;

    @media (min-width: 768px) {
        padding: 0px 70px;
    }

    @media (min-width: 992px) {
        padding: 0px 90px;
    }
}