.section2-image1 {
  height: 170px;

  @media (min-width: 768px) {
    height: 300px;
  }

  @media (min-width: 992px) {
    height: 400px;
  }
}

.section2-text1 {
    font-size: 10px;   
    letter-spacing: 1px;
    line-height: 1.5;

    @media (min-width: 768px) {
        font-size: 18px;
    }

    @media (min-width: 992px) {
        font-size: 24px;
    }
}

.section2-text-underline {
  display: inline-block;
  border-bottom: 3px solid #b5b5b6;
  padding-bottom: 4px;
}

.section2-button {
  bottom: 0;          
  right: -170px;       
//   transform: translateY(50%);  
    @media (min-width: 768px) {
        right: -260px;
    }

    @media (min-width: 992px) {
       right: -310px;
    }
}
.section2-line {
  position: relative;
  height: 100px; 
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;              // 置中
    width: 1px;             // 線的粗細
    background: #000000;    // 線條顏色
    transform: translateX(-50%);
    z-index: 0;             // 線條在圖片後方
    opacity: 0.6;           // 可改透明度
  }
   @media (min-width: 768px) {
         height: 120px;
    }

    @media (min-width: 992px) {
        height: 200px;
    }
}